body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logoNavbar, .homePageHeader {
  color: #61dafb;
}

.homeGridImg {
  border: 1px solid #5a6274;
  border-radius: 25px;
  /* image animation on home page */
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

  /* image animation on home page */
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.homePageHeader {
  font-variant: small-caps;
}

.footer {
  background-color: #212529;
  color: #899894;
  padding: .5rem 0;
}

.listItem {
  border: 1px solid #5a6274;
  border-radius: 15px;
  text-align: left;
  padding: 1rem;
  background-color: #61dafb;
  color: black;
  list-style: none;
}